*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins', sans-serif;
}

.cover{
    width:100%;
    height:100vh;
    background:
linear-gradient(
rgba(54,72,57,.30),
rgba(54,72,57,.65)
),
url("../assets/images/cover.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat; 

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;

    padding:20px;
}

.content{
    width:100%;
    max-width:600px;
    text-shadow:0 4px 20px rgba(0,0,0,.45);
    transition:all .5s ease;
}

.subtitle{

    font-size:14px;

    letter-spacing:6px;

    text-transform:uppercase;

    opacity:.95;

}

h1{

    font-family:'Cormorant Garamond',serif;

    font-size:72px;

    font-weight:600;

    line-height:1.1;

    margin:20px 0;

}

h1 span{
    display:block;
    
    font-size:48px;

    margin:8px 0;
}

.date{

    margin-top:25px;

    margin-bottom:35px;

    font-size:20px;

    letter-spacing:3px;

    font-weight:300;

}

.guest{

    margin:40px auto;

    width:100%;
    max-width:420px;

    padding:25px;

    border-radius:22px;

    background:rgba(255,255,255,.15);

    border:1px solid rgba(255,255,255,.25);

    backdrop-filter:blur(18px);

    -webkit-backdrop-filter:blur(18px);

    box-shadow:0 15px 35px rgba(0,0,0,.18);
    
} 
    
.guest p{
    font-size:14px;
    opacity:.85;
}

.guest h2{
    margin-top:12px;
    font-size:28px;
    font-weight:600;
    font-family:'Cormorant Garamond',serif;
}

button{

    padding:18px 38px;

    border:none;

    border-radius:999px;

    background:#C8A96A;

    color:white;

    font-size:17px;

    font-weight:500;

    letter-spacing:1px;

    cursor:pointer;

    transition:.35s;

    box-shadow:0 10px 25px rgba(0,0,0,.18);

}

button:hover{
    transform:translateY(-4px);
    box-shadow:0 18px 35px rgba(0,0,0,.28);
}

button:active{
    transform:scale(.97);
}

body{

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

    background:#F7F4EE;

}

.cover{

    position:relative;

    width:100%;

    height:100vh;

    ...
}

/* =========================
        MEMPELAI
========================= */

.couple{

    background:#F7F4EE;

    color:#445248;

    padding:90px 25px;

}

.container{

    max-width:700px;

    margin:auto;

    text-align:center;

}

.section-subtitle{

    font-size:14px;

    letter-spacing:6px;

    color:#6F8972;

    margin-bottom:12px;

}

.couple h2{

    font-family:'Cormorant Garamond',serif;

    font-size:52px;

    margin-bottom:24px;

}

.intro{

    line-height:1.9;

    max-width:520px;

    margin:0 auto 60px;

}

.person{

    margin-bottom:35px;

}

.person img{

    width:220px;

    height:220px;

    border-radius:50%;

    object-fit:cover;

    border:6px solid white;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.person h3{

    margin-top:22px;

    font-size:36px;

    font-family:'Cormorant Garamond',serif;

    font-weight:600;

}

.person p{

    margin-top:16px;

    line-height:1.9;

}

.love{

    font-size:38px;

    color:#C8A96A;

    margin:40px 0;

}

/* =========================
        AYAT
========================= */

.verse{

    background:white;

    color:#445248;

    padding:100px 25px;

}

.verse h2{

    font-size:18px;

    font-weight:500;

    margin-bottom:40px;

}

.arabic{

    font-size:34px;

    line-height:2;

    max-width:750px;

    margin:auto;

}

.translation{

    max-width:650px;

    margin:50px auto 0;

    line-height:2;

    font-style:italic;

    opacity:.85;

}

/* =========================
      SAVE THE DATE
========================= */

.save-date{

    background:#6F8972;

    color:white;

    padding:100px 25px;

    text-align:center;

}

.save-date h2{

    font-family:'Cormorant Garamond',serif;

    font-size:56px;

    margin:18px 0;

}

.save-text{

    max-width:520px;

    margin:0 auto 60px;

    line-height:1.9;

}

.countdown{

    display:flex;

    justify-content:center;

    gap:18px;

    flex-wrap:wrap;

}

.time-box{

    width:110px;

    padding:22px;

    border-radius:20px;

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(15px);

    -webkit-backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.18);

}

.time-box span{

    display:block;

    font-size:42px;

    font-weight:600;

}

.time-box small{

    display:block;

    margin-top:8px;

    letter-spacing:2px;

    text-transform:uppercase;

}

/* =========================
      DETAIL ACARA
========================= */

.event{

    background:#F7F4EE;

    color:#445248;

    padding:100px 25px;

}

.event-card{

    max-width:600px;

    margin:50px auto 0;

    background:white;

    border-radius:28px;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.event-item{

    text-align:center;

}

.event-icon{

    font-size:32px;

    margin-bottom:18px;

}

.event-item h3{

    font-family:'Cormorant Garamond',serif;

    font-size:38px;

    margin-bottom:18px;

}

.event-item p{

    margin:10px 0;

    line-height:1.8;

}

.event-card hr{

    margin:35px 0;

    border:none;

    border-top:1px solid #e6e6e6;

}

/* =========================
        LOKASI
========================= */

.location{

    padding:100px 25px;

    background:#6F8972;

    color:white;

    text-align:center;

}

.location h2{

    font-family:'Cormorant Garamond',serif;

    font-size:52px;

    margin:20px 0;

}

.location-text{

    line-height:2;

    margin-bottom:40px;

}

.maps-button{

    display:inline-block;

    padding:18px 42px;

    border-radius:999px;

    background:#C8A96A;

    color:white;

    text-decoration:none;

    font-weight:600;

    transition:.3s;

}

.maps-button:hover{

    transform:translateY(-3px);

}

.map{

    margin-top:50px;

    border-radius:24px;

    overflow:hidden;

    box-shadow:0 15px 35px rgba(0,0,0,.2);

}

.map iframe{

    width:100%;

    height:350px;

    border:0;

}

/* =========================
      OPEN ANIMATION
========================= */

.cover.hide{

    opacity:0;

    pointer-events:none;

    transition:1s ease;

}

/* =========================
      SCROLL ANIMATION
========================= */

.reveal{

    opacity:0;

    transform:translateY(40px);

    transition:1s ease;

}


.reveal.show{

    opacity:1;

    transform:translateY(0);

}

/* =========================
        GALERI
========================= */


.gallery{

    background:#F7F4EE;

    color:#445248;

    padding:100px 25px;

}


.gallery h2{

    font-family:'Cormorant Garamond',serif;

    font-size:52px;

    margin:20px 0 50px;

}


.gallery-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

}


.gallery-grid img{

    width:100%;

    height:230px;

    object-fit:cover;

    border-radius:22px;

    box-shadow:0 15px 35px rgba(0,0,0,.12);

    transition:.4s ease;

}

.gallery-grid img:last-child{

    grid-column:1 / 3;

    width:50%;

    justify-self:center;

}

.gallery-grid img:hover{

    transform:scale(1.04);

}

/* =========================
        LIGHTBOX
========================= */

.lightbox{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.92);

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:0;

    visibility:hidden;

    transition:.35s ease;

    z-index:9999;

}

.lightbox.show{

    opacity:1;

    visibility:visible;

}

.lightbox img{

    width:90%;

    max-width:900px;

    max-height:85vh;

    object-fit:contain;

    border-radius:18px;

}